<h3><%= @name %></h3>
<img src="<%= @img %>">
<p>Rank: <%= @rank %></p>
<p>Price: <%= @price %></p>
<% if @previous %>
<p>Previous Price: <%= @previous %></p>
<% end %>
<p>Floor Price: <%= @floor %></p>
<% if @msg %>
<p><%= @msg %></p>
<% end %>
<p><a href=<%= @url %>><%= @url %></a></p>
